/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/08/2015, 13:01:27
    Author     : antonio
*/

.item_menu{
    padding: 15px 15px 15px 15px;
    border-radius: 0.5em;
    background-color: #DFD7CF;
}

.item_menu_topo{
    padding: 0px 5px 5px 5px;
    text-decoration: none;
    color: darkblue;
}

.item_menu_topo:hover{
    background-color: #EEEEEE;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    border-radius: 0.5em;
}

.descricao{
    font-style: oblique;
    font-weight: bold;
}

.login{
    width: 30%;
    margin: 30px 15px 15px 15px;
}

.cadastro{
    width: 50%;
    margin: 15px 15px 15px 15px;
}

.dados_pessoais{
    display: block;
    text-align: left;
}

.dados_endereco{
    display: block;
    text-align: left;
}

.dados_usuario{
    display: block;
    text-align: left;
}
.input_text{
    padding: 5px;
    display: block;
}

.btn{}